<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="classD" class="com.gedharizka.training.spring.beans.BeanD">
        <property name="nomor" value="17"/>
    </bean>

    <bean id="classC" class="com.gedharizka.training.spring.beans.BeanC">
        <property name="namaLengkap" value="Miko Akai"/>
    </bean>

    <bean id="classB" class="com.gedharizka.training.spring.beans.BeanB">
        <constructor-arg ref="classC" name="c"/>
        <constructor-arg ref="classD" name="d"/>
    </bean>

    <bean id="classA" class=" com.gedharizka.training.spring.beans.BeanA">
        <property name="b" ref="classB"/>
    </bean>


</beans>